.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-header {
  background-color: #004d99;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.layout-main {
  flex-grow: 1;
  padding: 20px;
}

.layout-footer {
  background-color: #00264d;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
